.main-screen {
    background: url('../media/board-2167844_1920.jpg') no-repeat center fixed;
    background-size: cover;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.card {
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    background-color: white;
    padding: 20px;
    width: fit-content;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}

.math-container {
    display: inline-block;
}

.math-container h1 {
    margin: 5px;
}
#menu-bar {
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    padding: 5px;
    margin: auto;
    text-align: center;
    background-color: white;
    top: 0;
    position: relative;
    width: 98%;
}

#menu-bar h1 {
    display: inline;
}

#menu-bar button {
   float: right;
   display: none;
}

#answer {
    display: block;
    font-size: 20px;
}

/* #login-screen {
} */
#menu-screen {
    display: block;
}

#flash-card {
    display: none;
}

#answer-button {
    border: solid, 1px, black;
    border-radius: 5px;
    background-color: white;
    width: 100%;
}