.main-screen {
    background: url('../media/board-2167844_1920.jpg') no-repeat center fixed;
    background-size: cover;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.card {
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    background-color: white;
    padding: 20px;
    width: fit-content;
    margin: auto;
    text-align: center;
}
.math-container {
    display: inline-block;
}
.math-container h1 {
    margin: 5px;
}
#answer {
    display: block;
}
/* #login-screen {
} */
#menu-screen {
    display: none;
}

#flash-card {
    display: none;
}